* {
    box-sizing: border-box;
    font-family: "Lucida Console", Monaco, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 65vh;
    width: 75vw;
    max-width: 600px;
    border-radius: 12px;
    border: 1px black solid;
}

#background {
  background-image: "";
  background-repeat: no-repeat;
  background-size: cover;
}


.weatherBox {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin: auto, 0px;
    border: 10px;
}

#submission {
  text-align: center;
}

#searchbar {
    padding: 25px;   
}

#temp-info {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

p {
    margin: 0px;
}

#city-name {
    font-size: 22px;
}

#city-temp {
    font-weight: 550;
    font-size: 55px;
}

#city-sky {
    font-size: 18px;
    padding-bottom: 8px;
}

.hi-lo {
    display: inline;
    font-size: 11px;
}

.search-inputs {
    border-radius: 8px;
}

#state-input, #country-input {
  width: 2rem;
  text-align: center;
}

tr {
    border: 1px black solid;
}

table {
  margin-right: auto;
  margin-left: auto;
}

